<div class="addtoughts_div">

    <form action="/addtoughts" method="post">

        <label for="tought">Adicione um pensamento: </label>

        <input type="text" name="tought" id="tought" placeholder="Seu pensamento..." class="input-txt" required>


        <input type="submit" value="Enviar" class="btn">


    </form>



</div>