<div class="addtoughts_div">

    <form action="/toughts/edit" method="post">
    
        <label for="tought">Modifique seu pensamento: </label>

        <input type="text" name="newtought" id="newtought" placeholder="Seu novo pensamento..." class="input-txt" required>
        

        <input type="submit" value="Enviar" class="btn">
    
    
    </form>

</div>