<div class="maindiv">


    <div class="pensamentosmain">


        {{#each toughts}}
            <li>
                <p>"{{this.tought}}"</p>
                <p>Feita por: {{this.User.name}}</p>
            </li>

        {{/each}}
    </div>

</div>