<div class="maindiv">

    <div class="divsignup">

        <form action="/login/post" method="post">

            <input type="email" name="email" id="email" placeholder="Digite Seu Email" class="inputTxt" required>

            <input type="password" name="password" id="password" placeholder="Digite Sua Senha" class="inputTxt" required>

            <input type="submit" value="Enviar" class="inputSub">      
        
        </form>

        <p>Ainda não possui conta? <a href="/signup">Click aqui.</a></p>

    </div>

</div>