<div class="maindiv">

    <div class="divsignup">

        <form action="/signup/post" method="post">
        
            <input type="text" name="name" id="name" placeholder="Digite Seu Nome" class="inputTxt" required>

            <input type="text" name="email" id="email" placeholder="Digite Seu Email" class="inputTxt" required>

            <input type="text" name="password" id="password" placeholder="Digite Sua Senha" class="inputTxt" required>

            <input type="text" name="confpassword" id="confpassword" placeholder="Confirme Sua Senha" class="inputTxt" required>


            <input type="submit" value="Enviar" class="inputSub">
        
        
        
        
        
        
        
        </form>

        <p>Já possui conta? <a href="/login">Click aqui.</a></p>








    </div>



</div>